streamlit
groq
langchain
langchain-groq
langchain_community
langchain-text-splitters
faiss-cpu
sentence-transformers
scikit-learn
plotly
pandas
numpy
unstructured
pypdf
pikepdf
pdfminer.six
pytesseract
Pillow
langchain-core
beautifulsoup4
